<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 col-md-3 push-lg-1">
                <ul class="footer-menu">
                    {% for menuitem in site.menu %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ menuitem.url }}">{{ menuitem.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="col-12 col-md-3 col-lg-2 push-md-5 push-lg-6">
                <ul class="social-links">
                    <li><a class="facebook" href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a class="twitter" href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a class="youtube" href="#"><span class="fa fa-youtube"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-6 copyright">
                <p>&copy; 2017.<br class="hidden-md-up"  > All rights reserved to <br> <a href="/">The Butterfly Project</a>.</p>
            </div>
            <div class="col-6 credits">
                <p>Designed<br class="hidden-md-up"  > and Developed by <br> <a href="http://theroguepixel.com">the Rogue Pix<small>x</small>el</a>.</p>
            </div>
        </div>
    </div>
</footer>