<nav class="nav nav-fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12">
                <a href="/" class="brand">
                    The Butterfly Project
                </a>
            </div>
            <div class="col-12 col-sm-12 d-flex justify-content-center">
                <span class="nav-menu-toggle" data-toggle="#main-nav">
                    <span class="hamburger"></span>
                </span>
            </div>
            <div class="col-12">
                <div class="nav-menu-wrapper" id="main-nav" >
                    <ul class="nav-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Vision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
