<nav class="nav nav-fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-1">
                <a href="/" class="brand" data-tagline="Empowering Through Entrepreneurship">
                    <img class="logo" src="images/logo.png" alt="The Butterfly Project">
                </a>
                <a href="/" class="brand brand-inverse" data-tagline="Empowering Through Entrepreneurship">
                    <img class="logo" src="images/logo-inverse.png" alt="The Butterfly Project">
                </a>
            </div>
            <div class="col-12 col-sm-12 d-flex justify-content-center">
                <span class="nav-menu-toggle" data-toggle="#main-nav">
                    <span class="hamburger"></span>
                </span>
            </div>
            <div class="col-12">
                <div class="nav-menu-wrapper" id="main-nav" >
                    <h1 class="title"> <img class="logo" src="images/logo-inverse.png" alt="The Butterfly Project"></h1>
                    <ul class="nav-menu">
                        {% for menuitem in site.menu %}
                            {% if menuitem.url == pageUrl %}
                                <li class="nav-item active">
                            {% else %}
                                <li class="nav-item">
                            {% endif %}
                                    <a class="nav-link" href="{{ menuitem.url }}">{{ menuitem.name }}</a>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
