<section class="slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="slider-wrapper">
                    <div class="owl-carousel">
                        <div  class="slide" >
                            <div class="background" style="background-image:url(./images/1.jpg);" data-pos-x="-144px" data-pos-y="" ></div>
                            <h1 class="title highlight-primary font-Saira">
                                <span class="upper">Women Empowerment</span>
                                <span class="lower">through Entrepreneurship</span>
                            </h1>
                            <h3 class="subtitle font-Saira">
                                We are actively engaging 500 plus urban girls and women in our <span class="highlight-primary">Entrepreneurship Development programme</span>.
                            </h3>
                        </div>
                        <div  class="slide">
                            <div class="background" style="background-image:url(./images/2.jpg);" data-pos-x="-575px"></div>
                            <h1 class="title highlight-primary font-Saira">
                                <span class="upper">Gender</span>
                                <span class="lower">Sensitization</span>
                            </h1>                
                            <h3 class="subtitle font-Saira">
                                We engage the <span class="highlight-primary">youth</span> and help them develop <span class="highlight-primary">gender sensitized</span> perspectives of life. The focus is on challenging Patriarchal norms and promoting Feminism among men.
                            </h3>
                        </div>
                        <div  class="slide" >
                            <div class="background" style="background-image:url(./images/3.jpg);" data-pos-x="-750px"></div>
                            <h1 class="title highlight-primary font-Saira">
                                <span class="upper">Engaging youth on</span>
                                <span class="lower">Entrepreneurship Development and Gender issues</span>
                            </h1>                                
                            <h3 class="subtitle font-Saira">
                                Working with 4 Universities across Jharkhand and engaging youth on <span class="highlight-primary">Entrepreneurship Development and Gender Issues</span>. (we have engaged more than 1000 youth in the last <span class="highlight-primary">1 year</span> of our activities)
                            </h3>
                        </div>

                        <div  class="slide" >
                            <div class="background" style="background-image:url(./images/4.jpg);" ></div>
                            <h1 class="title highlight-primary font-Saira">
                                <span class="upper">Incubation Center</span>
                                <span class="lower">for Entrepreneurs</span>
                            </h1>                                
                            <h3 class="subtitle font-Saira">
                               Incubation Center for – <span class="highlight-primary">Women Entrepreneurs</span>, <span class="highlight-primary">Transgender Entrepreneurs</span>, <span class="highlight-primary">Elders (60 plus yrs) Entrepreneurs</span> and <span class="highlight-primary">“GRASS ROOT”</span> Entrepreneurs established. Mentoring process for 14 ventures – ongoing across Jharkhand, Bihar and WB.
                            </h3>
                        </div>
                    </div>
                    <div class="slider-overlay"></div>
                </div>
            </div>
        </div>
    </div>
</section>