<section class="slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="slider-wrapper">
                    <div class="owl-carousel">
                        <div  class="slide" >
                            <div class="background" style="background-image:url(./images/1.jpg);"></div>
                            <h1 class="title highlight-primary font-presa">Nulla fermentum a nulla non sollicitudin.</h1>
                            <h3 class="subtitle font-presa-ultra-light">Vivamus hendrerit, <span class="highlight-primary"> ipsum id imperdiet tristique</span>, ex nisi sollicitudin ante, a pharetra elit purus eget risus.</h3>
                        </div>
                        <div  class="slide">
                            <div class="background" style="background-image:url(./images/2.jpg);"></div>
                            <h1 class="title highlight-primary font-presa">
                                Curabitur fringilla porttitor tempor.
                            </h1>                
                            <h3 class="subtitle font-presa-ultra-light">Vivamus hendrerit, ipsum id imperdiet tristique, <span class="highlight-primary">ex nisi sollicitudin</span> ante, a pharetra elit purus eget risus.</h3>
                        </div>
                        <div  class="slide" >
                            <div class="background" style="background-image:url(./images/3.jpg);"></div>
                            <h1 class="title highlight-primary font-presa">
                                Aliquam non dapibus nibh. 
                            </h1>                                
                            <h3 class="subtitle font-presa-ultra-light">Vivamus hendrerit, ipsum id imperdiet tristique, ex nisi sollicitudin ante, <span class="highlight-primary"> a pharetra elit purus eget risus</span>.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>