section.slider,
.slider .slider-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.slider .slider-wrapper .slider-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.26, 0.29, 0.55, 0.95);
}

.hide-slider .slider .slider-wrapper .slider-overlay {
    opacity: 1;
}

@media screen and (min-width:768px) {
    section.slider,
    .slider .slider-wrapper {
        width: calc(100vw - 15px);
    }
}

.slider .owl-carousel .slide {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider .owl-carousel .slide .background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

@media screen and (min-width: 768px) {
    .slider .owl-carousel .slide .background {
        background-attachment: fixed;
    }
}

.owl-carousel .slide .title,
.owl-carousel .slide .subtitle {
    opacity: 0;
    color: #fff;
    text-align: left;
    width: 100%;
    padding: 0 6vw;
    font-size: 1.5rem;
    position: relative;
    top: 80px;
    word-break: break-word;
}

.owl-carousel .slide .title .upper,
.owl-carousel .slide .title .lower {
    display: block;
    text-transform: uppercase;
}

.owl-carousel .slide .title .upper {
    color: rgba(248, 145, 31, 1);
    border-bottom: 4px solid #fff;
    padding-bottom: -2px;
}

.owl-carousel .slide .title .lower {
    color: #fff;
}

.owl-carousel .slide .subtitle {
    margin-top: 15px;
    font-size: 0.7rem;
    font-weight: 400;
}

@media screen and (min-width:576px) {
    .owl-carousel .slide .title,
    .owl-carousel .slide .subtitle {
        padding: 0 12vw;
    }
    .owl-carousel .slide .title {
        font-size: 2.5rem;
    }
    .owl-carousel .slide .subtitle {
        font-size: 1rem;
    }
}

@media screen and (min-width:768px) {
    .owl-carousel .slide .title {
        font-size: 3rem;
    }
    .owl-carousel .slide .subtitle {
        font-size: 1.2rem;
    }
}