section.slider,
.slider .slider-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

@media screen and (min-width:768px) {
    section.slider,
    .slider .slider-wrapper {
        width: calc(100vw - 15px);
    }
}

.slider .owl-carousel .slide {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider .owl-carousel .slide .background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

@media screen and (min-width: 768px) {
    .slider .owl-carousel .slide .background {
        background-attachment: fixed;
    }
}

.owl-carousel .slide .title,
.owl-carousel .slide .subtitle {
    opacity: 0;
    color: #fff;
    text-align: left;
    width: 100%;
    padding: 0 15vw;
    font-weight: 700;
    font-size: 1.7rem;
    position: relative;
    top: 80px;
}

.owl-carousel .slide .subtitle {
    margin-top: 15px;
    font-size: 0.7rem;
}

@media screen and (min-width:576px) {
    .owl-carousel .slide .title,
    .owl-carousel .slide .subtitle {
        padding: 0 12vw;
    }
    .owl-carousel .slide .title {
        font-size: 2.5rem;
    }
    .owl-carousel .slide .subtitle {
        font-size: 1rem;
    }
}

@media screen and (min-width:768px) {
    .owl-carousel .slide .title {
        font-size: 3rem;
    }
    .owl-carousel .slide .subtitle {
        font-size: 1.2rem;
    }
}