{% extends "templates/master.html" %}

{% set pageUrl = "./" %}

{% set pageTitle = "Our Vision" %}

{% block main %}
    {% include 'templates/slider.html' %}
    <section class="keynote" >
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p>
                        At the Butterfly Project – we strive to empower Women, Transgenders, Elders (60 plus yrs) and Grass – root people and youth through our Entrepreneurship Development Programmes.
                    </p>
                    <p>
                        We as a team realise that the India of today needs to address Gender. Its an “elephant in the room” conversation which we do NOT have and allow our social fabric to disintegrate further into the clutches of blinded Patriarchy. Our Detailed Gender-Sensitization Programmes and workshops deal with Gender Issues in life and the work place. We have started engaging in this social cause across the Start-Up Spectrum also.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}