{% extends "templates/master.html" %}

{% block main %}
    {% include 'templates/slider.html' %}
    <section class="keynote" >
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p>
                        Pellentesque a purus ut orci dapibus pellentesque. <span class="highlight-grey">Quisque</span> in sapien at odio viverra consequat. Ut eu felis in arcu lacinia ornare nec non est. Nunc tempor dolor ac velit rhoncus, et cursus felis vulputate. Morbi non dolor non ligula blandit convallis non a dui. <span class="highlight-grey">Quisque</span> bibendum tristique orci, nec imperdiet arcu. Proin fermentum eget est ac sodales. Nunc eget enim augue. Ut luctus ultricies enim ac ultricies. Phasellus eget viverra nibh. Integer mi quam, ullamcorper a elementum eget, luctus in lacus. Proin volutpat egestas justo ac facilisis.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block left %} 
    This is the left side! 
{% endblock %}